{{template "base" .}}

{{define "content"}}
<section class="posts-section">
    <h1>Create New Post</h1>
    <div class="post-card">
        <form action="/postform/submit" method="post" id="postform" onsubmit="handlePost(event)">
            <div class="form-group">
                <label for="title">Title</label>
                <textarea class="inp" name="title" id="title" rows="2" required></textarea>
            </div>
            <br>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea name="content" id="content" rows="10" required></textarea>
            </div>
            <br>
            <div class="form-group">
                <label>Categories:</label>
                {{range .Categories}}
                <label class="lns-checkbox">
                    <input type="checkbox" name="categories" value="{{.ID}}">
                    <span>{{.Name}}</span>
                </label>
                {{end}}
            </div>
            <button class="btn" type="submit">Submit</button>
            <div id="error-message" class="error-message"></div>
        </form>
    </div>
</section>
{{end}}

{{define "js"}}
<script src="/js/postform.js"></script>
{{end}}