{{ template "base" .}}

{{ define "content"}}

<!-- display posts -->
{{range .Posts}}
<div class="post-card">
    <h2>{{.Title}}</h2>
    <div class="post-meta">
                <p class="user">{{.Username}}</p>
                <p class="date">{{.CreatedAt}}</p>
                <br>
            </div>
            <div class="categories">
            {{range .Categories}}
                <span>{{.Name}} </span>
            {{end}}
            </div>
            <p class="content">{{.Content}}</p> 
</div>
<hr>

<!-- add comment -->
<div class="comment-section">
    <form action="/comment" method="post" id="addcomment" onsubmit="handleAddComment(event)">
        <input type="hidden" name="post_id" value="{{.ID}}">
        <textarea name="content" rows="5" cols="50" placeholder="Start typing here" required></textarea>
        <br>
        <button type="submit" class="btn">Add comment</button>
        <br>
        <div id="error-message" class="error-message" style="display:none;"></div>
    </form>
</div>
{{end}}

<!-- display comments -->
{{range .Comments}}
<div id="comment-{{.ID}}" class="post-card">
    <div class="post-meta">
        <p class="user">{{.Username}}</p>
    </div>
    <p class="date" style="margin-bottom: 15px;">{{.CreatedAt}}</p>
    <p class="content">{{.Content}}</p>

    <button onclick="handleLike('comment', '{{.ID}}', 'like')" class="like-button">Like</button>
    <span class="like-count">{{.Likes}}</span>
    <button onclick="handleLike('comment', '{{.ID}}', 'dislike')" class="dislike-button">Dislike</button>
    <span class="dislike-count">{{.Dislikes}}</span>
</div>
<hr>
{{end}}

{{end}}

{{ define "js"}}
<script src="/js/post.js"></script>
{{end}}